---
---

:root {
  --transition-duration: 0.4s;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --layer-offset: 0.15em;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-family: "Poppins", "Helvetica Neue", "Helvetica", "Arial Black", sans-serif;
}

a {
  color: inherit;
  &.headline {
    text-decoration: none;
  }
}

.headline {
  position: relative;
  margin: 0;
  line-height: 1.01;
  font-size: 8vh;
  font-weight: 800;
  &.error {
    font-size: 14vh;
  }
}

.profession {
  color: inherit;
  line-height: 1.4;
  font-size: 4vh;
  font-weight: 600;
  font-style: italic;
}

.e-mail {
  color: inherit;
  font: 600 1.5rem "Zilla Slab", monospace;
  line-height: 1.6;
}

@media screen and (max-aspect-ratio: 3/2) and (max-width: 40rem) {
  .headline {
    font-size: 18vw;
    &.error {
      font-size: 34vw;
    }
  }

  .profession {
    font-size: 8vw;
  }

  .e-mail {
    font-size: 1.25rem;
  }
}

@media screen and (min-aspect-ratio: 3/2) and (max-height: 40rem) {
  .headline {
    font-size: 22vh;
    &.error {
      font-size: 34vh;
    }
  }

  .profession {
    font-size: 11vh;
  }
}

@supports (mix-blend-mode: multiply) {
  .headline {
    color: magenta;
    mix-blend-mode: multiply;
    &::before, &::after {
      content: "Michał Matłoka";
      transition: transform var(--transition-duration) var(--transition-timing-function);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
    &::before {
      transform: translate(calc(-1 * var(--layer-offset)), calc(-1 * var(--layer-offset)));
      color: yellow;
    }
    &::after {
      transform: translate(var(--layer-offset), var(--layer-offset));
      color: cyan;
    }
    &:hover {
      &::before, &::after {
        transform: none;
      }
    }
    &.code-404 {
      &::before, &::after {
        content: "404";
      }
    }
  }
}
