---
---

@import url(https://fonts.bunny.net/css?family=zilla-slab:400,400i,500,500i,600,600i,700,700i);

html {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.1875rem;
}

.gsc-reactions {
    align-items: flex-start;
}

@media screen and (max-width: 40rem) {
  html {
    font-size: 1.125rem;
  }
}
