---
---

@import 'syntax-highlighting';

:root {
    --transition-duration-long: 0.5s;
    --transition-duration-short: 0.25s;
    --background: white;
    --text-color: black;
    --text-color-muted: rgba(0, 0, 0, 0.6);
    --font-headline: 'Poppins', 'Helvetica Neue', 'Helvetica', 'Arial Black', sans-serif;
    --font-body: 'Zilla Slab', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: var(--text-color);
    color: var(--background);
}

html {
    width: 100%;
    height: 100%;
    background: var(--background);
    color: var(--text-color);
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 54rem;
    text-rendering: optimizeLegibility;
    font-family: var(--font-body);
}

.content-wrapper {
    flex-grow: 1;
    margin-bottom: 4rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a {
    color: magenta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1,
h2 {
    a {
        color: inherit;
    }
}

h1 {
    margin: 2rem 0 0 0;
    font-family: var(--font-headline);
    font-size: 2.75rem;
    font-weight: 600;
    letter-spacing: -0.01em;
}

h2 {
    margin: 2rem 0 0;
    font-family: var(--font-headline);
    font-size: 1.75rem;
    font-weight: 600;
}

h4 {
    margin: 1.5rem 0 0;
    font-size: 1.75rem;
    font-weight: 600;
}

h5 {
    margin: 1.25rem 0 0;
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    margin: 1rem 0 0;
    font-size: 1.25rem;
    text-align: justify;
    text-align-last: left;
}

header {
    h1 {
        font-size: 5.5rem;
        font-weight: 800;
        white-space: pre;
    }
}

footer {
    display: flex;
    color: var(--text-color-muted);
    > * {
        a {
            color: inherit;
        }
        &:not(:first-child) {
            margin-left: 0.75rem;
            &::before {
                content: '|';
                margin-right: 0.75rem;
            }
        }
    }
}

.links {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;
    font-size: 2.25rem;
    > a {
        transition: transform var(--transition-duration-short) ease;
        display: flex;
        color: inherit;
        &:hover {
            transform: translateY(-0.125rem);
        }
    }
}

.cmyk {
    display: inline-block;
    position: relative;
    color: black; // Fallback for browsers that don't support multiplying colors
    cursor: default;
    --layer-offset: 0.15em;
    a {
        text-decoration: none;
        &:hover {
            opacity: inherit;
        }
    }
    @supports (mix-blend-mode: multiply) {
        color: magenta;
        mix-blend-mode: multiply;
        &::before,
        &::after {
            content: attr(content);
            transition: transform var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;
            pointer-events: none;
        }
        &::before {
            transform: translate(calc(-1 * var(--layer-offset)), calc(-1 * var(--layer-offset)));
            color: yellow;
        }
        &::after {
            transform: translate(var(--layer-offset), var(--layer-offset));
            color: cyan;
        }
        &:hover {
            &::before,
            &::after {
                transform: none;
            }
        }
    }
}

.posts {
    margin: 6rem 0 2rem;
    padding: 0;
    li {
        display: block;
        margin-top: 2rem;
        p {
            margin-top: 0;
        }
        .meta {
            margin-top: 0.25rem;
        }
    }
}

.meta {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

article {
    margin-top: 2rem;
}

@media screen and (max-aspect-ratio: 3/2) and (max-width: 40rem) {
    // Mobile
    body {
        padding: 1rem;
    }
    .content-wrapper {
        margin-bottom: 2rem;
    }
    header {
        h1 {
            font-size: 4.25rem;
        }
    }
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h4 {
        margin: 1rem 0;
    }
    .links {
        margin: 1.25rem 0;
    }
    .posts {
        margin-top: 4rem;
    }
}
