---
---

@import 'syntax';

:root {
    --transition-duration-long: 0.5s;
    --transition-duration-short: 0.25s;
    --background: #fff;
    --foreground: #000;
    --grayish: hsl(225deg 30% 30% / 5%);
    --gray: hsl(225deg 20% 30% / 10%);
    --cyan: #0ff;
    --magenta: #f0f;
    --yellow: #ff0;
    --red: #f00;
    --green: #0f0;
    --blue: #00f;
    --composite-color-1: var(--yellow);
    --composite-color-2: var(--magenta);
    --composite-color-3: var(--cyan);
    --composite-blend-mode: multiply;
    --font-headline: 'Poppins', 'Arial Black', sans-serif;
    --font-body: 'Zilla Slab', sans-serif;
    --font-code: ui-monospace, 'SF Mono', Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Consolas',
        'Fira Code', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New',
        monospace;
    @supports (color: color(display-p3 1 1 1)) {
        --cyan: color(display-p3 0 1 1);
        --magenta: color(display-p3 1 0 1);
        --yellow: color(display-p3 1 1 0);
        --red: color(display-p3 1 0 0);
        --green: color(display-p3 0 1 0);
        --blue: color(display-p3 0 0 1);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: var(--foreground);
    color: var(--background);
}

html {
    width: 100%;
    height: 100%;
    background: var(--background);
    color: var(--foreground);
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 60rem;
    text-rendering: optimizeLegibility;
    font-family: var(--font-body);
}

.content-wrapper {
    flex-grow: 1;
    margin-bottom: 3rem;
}

figure {
    width: fit-content;
    margin: 1rem auto;
}

figcaption {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.25rem 0 0;
}

.recommendation {
    width: 100%;
    height: 0.75rem;
    margin: 0.5rem 0;
    &.recommendation--dont {
        background: var(--red);
    }
    &.recommendation--do {
        background: var(--green);
    }
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: var(--magenta);
    &::selection,
    ::selection {
        color: var(--yellow);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    margin: 2rem 0 0 0;
    font-family: var(--font-headline);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.01em;
}

h2 {
    margin: 1.75rem 0 0;
    font-family: var(--font-headline);
    font-size: 1.75rem;
    font-weight: 700;
}

h4 {
    margin: 1.5rem 0 0;
    font-size: 1.75rem;
    font-weight: 600;
}

h5 {
    margin: 1.25rem 0 0;
    font-size: 1.5rem;
    font-weight: 600;
}

ul,
ol {
    padding-left: 1.75rem;
    margin-top: 0.5rem;
}

li {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

p {
    margin: 0.5rem 0 0;
    font-size: 1.25rem;
    text-align: justify;
    &:first-child {
        margin-top: 0;
    }
}

iframe {
    display: block;
    margin-top: 1rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    animation: shimmer 1.4s ease infinite;
    background: linear-gradient(90deg, var(--grayish) 25%, var(--gray) 37%, var(--grayish) 63%);
    background-size: 400% 100%;
    user-select: none;
}

blockquote {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    background: var(--grayish);
    line-height: 1.4;
    &:last-child {
        margin-bottom: 0;
    }
}

pre {
    margin: 1rem 0;
}

code {
    padding: 0.25rem;
    border-radius: 0.25rem;
    background: var(--grayish);
    color: var(--foreground);
    font-family: var(--font-code);
    font-size: 1rem;
    overflow: auto;
    pre & {
        display: block;
        padding: 0.75rem 1rem;
    }
}

header {
    h1 {
        font-size: 5.5rem;
        font-weight: 800;
        white-space: pre;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.6;
}

h1,
h2,
footer {
    // Make links in h1, h2, and footer monochromatic
    a {
        color: inherit;
        &::selection {
            color: var(--background);
        }
    }
}

.links {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;
    font-size: 2.25rem;
    > a {
        transition: transform var(--transition-duration-short) ease;
        display: flex;
        color: inherit;
        &:hover {
            transform: translateY(-0.125rem);
        }
    }
}

.no-wrap {
    white-space: nowrap;
}

.light-dark-mode {
    background: url('https://fonts.gstatic.com/s/i/materialiconsoutlined/light_mode/v4/20px.svg');
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 1rem;
    cursor: help;
}

.composite {
    display: inline-block;
    position: relative;
    color: var(--foreground); // Fallback for browsers that don't support multiplying colors
    cursor: default;
    --layer-offset: 0.15em;
    a {
        text-decoration: none;
        &:hover {
            opacity: inherit;
        }
    }
    @supports (mix-blend-mode: multiply) {
        color: var(--composite-color-2);
        mix-blend-mode: var(--composite-blend-mode);
        &::before,
        &::after {
            content: attr(content);
            transition: transform var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: var(--composite-blend-mode);
            pointer-events: none;
        }
        &::before {
            transform: translate(calc(-1 * var(--layer-offset)), calc(-1 * var(--layer-offset)));
            color: var(--composite-color-1);
        }
        &::after {
            transform: translate(var(--layer-offset), var(--layer-offset));
            color: var(--composite-color-3);
        }
        &:hover {
            &::before,
            &::after {
                transform: none;
            }
        }
    }
}

.posts {
    margin: 6rem 0 0;
    padding: 0;
    li {
        display: block;
        margin-top: 2.5rem;
    }
    p {
        margin-top: 0;
    }
    .meta {
        margin-top: 0.25rem;
    }
}

.meta {
    margin-top: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
}

article {
    margin-top: 2rem;
}

.post-content {
    margin-top: 1rem;
}

.post-scriptum {
    margin-top: 2rem;
}

.anchorjs-link {
    text-decoration: underline;
    margin-left: -1.25em !important;
}

@media screen and (max-aspect-ratio: 3/2) and (max-width: 40rem) {
    // Mobile
    body {
        padding: 1rem;
    }
    .content-wrapper {
        margin-bottom: 2rem;
    }
    header {
        h1 {
            font-size: 4.5rem;
        }
    }
    h1 {
        margin-top: 1rem;
        font-size: 2.25rem;
    }
    h4 {
        margin: 1rem 0;
    }
    article {
        margin-top: 1rem;
    }
    .links {
        margin: 1.25rem 0;
    }
    .posts {
        margin-top: 5rem;
        li {
            margin-top: 2rem;
        }
    }
}

@media (prefers-color-scheme: dark) {
    // Dark mode
    :root {
        --background: #0f0f0f;
        --foreground: #fff;
        --grayish: hsl(225deg 100% 95% / 8%);
        --gray: hsl(225deg 100% 92% / 12%);
        --composite-color-1: var(--blue);
        --composite-color-2: var(--green);
        --composite-color-3: var(--red);
        --composite-blend-mode: screen;
    }
    a::selection {
        color: var(--blue);
    }
    .light-dark-mode {
        background: url('https://fonts.gstatic.com/s/i/materialiconsoutlined/dark_mode/v4/20px.svg');
        filter: invert(1);
    }
}

@keyframes shimmer {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
