---
---

@import 'syntax';

:root {
    --transition-duration-long: 0.5s;
    --transition-duration-short: 0.25s;
    --background: #fff;
    --foreground: #000;
    --grayish: hsl(225deg 30% 20% / 5%);
    --gray: hsl(225deg 20% 20% / 10%);
    --cyan: #0ff;
    --magenta: #f0f;
    --yellow: #ff0;
    --red: #f00;
    --green: #0f0;
    --blue: #00f;
    --selection-accent: var(--yellow);
    --composite-color-1: var(--yellow);
    --composite-color-2: var(--magenta);
    --composite-color-3: var(--cyan);
    --composite-color-a: var(--blue);
    --composite-color-b: var(--green);
    --composite-color-c: var(--red);
    --composite-blend-mode: multiply;
    --font-size-hero: 5.25rem;
    --font-size-title: 2.375rem;
    --font-size-heading: 1.75rem;
    --font-size-body: 1.1875rem;
    --font-size-body-reduced: 1.125rem;
    --font-size-tooltip: 0.9375rem;
    --font-family-heading: 'Poppins', 'Futura', 'Avenir', 'Arial Black', sans-serif;
    --font-family-body: 'Zilla Slab', 'Roboto Slab', 'Helvetica Neue', ui-sans-serif, system-ui, sans-serif;
    --font-family-code: ui-monospace, 'SF Mono', Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
        'Consolas', 'Fira Code', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
        'Courier New', monospace;
    --border-thickness: 0.125rem;
    --shadow-distance: 0.25rem;
    --logo-unit-size: 1rem;
    @supports (color: color(display-p3 1 1 1)) {
        --cyan: color(display-p3 0 1 1);
        --magenta: color(display-p3 1 0 1);
        --yellow: color(display-p3 1 1 0);
        --red: color(display-p3 1 0 0);
        --green: color(display-p3 0 1 0);
        --blue: color(display-p3 0 0 1);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: var(--foreground);
    color: var(--background);
}

:focus-visible {
    outline: 0.125rem solid var(--magenta);
    outline-offset: 0.125rem;
}

html {
    width: 100%;
    height: 100%;
    background: var(--background);
    color: var(--foreground);
    line-height: 1.45;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 60rem;
    text-rendering: optimizeLegibility;
    font-family: var(--font-family-body);
    text-wrap: pretty;
}

.content-wrapper {
    flex-grow: 1;
    margin-bottom: 4rem;
}

figure {
    width: fit-content;
    max-width: 100%;
    margin: 1rem auto;
}

figcaption {
    font-size: var(--font-size-body);
    font-weight: 500;
    margin-top: -0.5rem;
    margin-bottom: -0.25rem;
}

.recommendation {
    width: 100%;
    height: 0.75rem;
    margin: -0.25rem 0 0.5rem;
    &.recommendation--dont {
        background: var(--red);
    }
    &.recommendation--do {
        background: var(--green);
    }
}

img,
video,
canvas {
    display: block;
    max-width: 100%;
    max-height: min(75vh, 40rem);
    height: auto;
    margin: 1rem auto;
    object-fit: contain;
    &.with-shadow {
        margin: 0 auto;
    }
}

a {
    color: var(--magenta);
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    &::selection,
    ::selection {
        color: var(--selection-accent);
    }
}

sub,
sup {
    line-height: 0;
}

dfn {
    font-style: normal;
    text-decoration: dotted underline;
    text-underline-offset: 0.05em;
    cursor: help;
}

b,
strong {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    margin: 2rem 0 0 0;
    font-size: var(--font-size-title);
    letter-spacing: -0.01em;
}

h2 {
    margin: 0.75em 0 0;
    font-size: var(--font-size-heading);
    a {
        display: inline-block;
        margin-left: 0.05em; // Negate alignment on links, since they have an underline
    }
}

h1,
h2 {
    font-family: var(--font-family-heading);
    font-weight: 700;
    margin-left: -0.05em; // Align letters with body area perfectly
    text-wrap: balance;
}

h4 {
    margin: 0.75em 0 0;
    font-size: var(--font-size-heading);
    font-weight: 600;
    white-space: pre-wrap;
}

ul,
ol {
    padding-left: 1.75rem;
    margin-top: 0.5rem;
}

li {
    font-size: var(--font-size-body);
    margin-top: 0.25rem;
}

p {
    margin: 0.5rem 0 0;
    font-size: var(--font-size-body);
    text-align: justify;
    &:first-child {
        margin-top: 0;
    }
}

input {
    padding: 0.5rem 0.75rem;
    font-size: var(--font-size-body-reduced);
    font-family: var(--font-family-body);
    font-weight: 500;
    background: var(--background);
    color: var(--foreground);
    border: var(--border-thickness) solid var(--foreground);
    box-shadow: calc(var(--border-thickness) + var(--shadow-distance) / 2)
        calc(var(--border-thickness) + var(--shadow-distance) / 2) var(--foreground);

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        color: var(--foreground);
        opacity: 0.5;
    }
}

button {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-body-reduced);
    font-family: var(--font-family-body);
    font-weight: 600;
    background: var(--composite-color-1);
    color: var(--foreground);
    cursor: pointer;
    transition: all var(--transition-duration-short) ease;
    box-shadow: calc(var(--border-thickness) + var(--shadow-distance) / 2)
        calc(var(--border-thickness) + var(--shadow-distance) / 2) var(--foreground);
    white-space: nowrap;
    border: var(--border-thickness) solid var(--foreground);

    &:hover {
        transform: translate(calc(var(--shadow-distance) * -0.5), calc(var(--shadow-distance) * -0.5));
        box-shadow: calc(var(--border-thickness) + var(--shadow-distance))
            calc(var(--border-thickness) + var(--shadow-distance)) var(--foreground);
    }

    &:focus-visible {
        outline-offset: 0;
    }

    &:active {
        transform: translate(calc(var(--shadow-distance) / 2), calc(var(--shadow-distance) / 2));
        box-shadow: var(--border-thickness) var(--border-thickness) var(--foreground);
    }
}

iframe {
    display: block;
    margin: 1rem 0;
    width: 100%;
    border: none;
    animation: shimmer 1.4s ease infinite;
    background: linear-gradient(90deg, var(--grayish) 25%, var(--gray) 37%, var(--grayish) 63%);
    background-size: 400% 100%;
    user-select: none;
    &.presentation {
        aspect-ratio: 16 / 9;
        height: 100%;
        width: 100%;
        &.figma {
            aspect-ratio: 3 / 2;
        }
    }
    &.giscus-frame {
        background: none;
        animation: none;
        margin-top: 3rem;
    }
}

blockquote {
    --ribbon-width: 0.375rem;
    position: relative;
    margin: calc(1rem + var(--border-thickness)) var(--border-thickness)
        calc(1rem + var(--border-thickness) + var(--shadow-distance));
    outline: var(--border-thickness) solid var(--foreground);
    padding: 0.75rem 1.25rem 0.75rem 1rem;
    border-left: var(--ribbon-width) solid var(--composite-color-2);
    font-weight: 500;
    line-height: 1.4;
    box-shadow: calc(var(--border-thickness) + var(--shadow-distance))
        calc(var(--border-thickness) + var(--shadow-distance)) var(--foreground);
    &::before,
    &::after {
        content: '';
        position: absolute;
        left: calc(var(--ribbon-width) * -1);
        height: 33.3333%;
        width: var(--ribbon-width);
    }
    &::before {
        top: 0;
        background: var(--composite-color-3);
    }
    &::after {
        bottom: 0;
        background: var(--composite-color-1);
    }
    > *:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    b,
    strong {
        font-weight: 700; // Raised from 600 because base is a higher 500
    }
}

table {
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: 0.75rem 0 calc(1rem + var(--shadow-distance));
    border-collapse: collapse;
    font-size: var(--font-size-body-reduced);
    box-shadow: calc(var(--border-thickness) + var(--shadow-distance))
        calc(var(--border-thickness) + var(--shadow-distance)) 0 calc(var(--border-thickness) * -1) var(--foreground);
    overflow: auto;
    tr {
        > th {
            text-align: left;
        }
    }
    td,
    th {
        border: var(--border-thickness) solid var(--foreground);
        padding: 0.5rem 0.75rem;
    }
}

code {
    padding: 0.25rem;
    border-radius: 0.25rem;
    background: var(--grayish);
    color: var(--foreground);
    font-family: var(--font-family-code);
    font-size: 0.8em;
}

pre {
    margin: 1rem 0 calc(1rem + var(--shadow-distance));
    padding: 1rem;
    font-size: var(--font-size-body);
    background: var(--foreground);
    color: var(--background);
    box-shadow: calc(var(--border-thickness) + var(--shadow-distance))
        calc(var(--border-thickness) + var(--shadow-distance)) 0 calc(var(--border-thickness) * -1) var(--magenta);
    overflow: auto;
    ::selection {
        background: var(--selection-accent);
        color: var(--foreground);
    }
    code {
        display: block;
        padding: 0;
        background: unset;
        color: unset;
    }
}

header {
    width: fit-content;
    h1 {
        font-size: var(--font-size-hero);
        font-weight: 800;
        white-space: pre;
    }
    .logo {
        margin-top: 3.25rem;
    }
}

footer {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    line-height: 1;
    --logo-unit-size: 0.375rem;
    > * {
        opacity: 0.6;
    }
    .logo {
        opacity: 0.8;
        mix-blend-mode: luminosity;
        flex-shrink: 0;
        &:hover {
            opacity: 1;
            mix-blend-mode: normal;
            cursor: n-resize; // Having cursor on :hover makes it immediately go back to normal once scrollTo() runs
        }
    }
    span, a {
        white-space: nowrap;
    }
}

h1,
h2,
footer {
    // Make links in h1, h2, and footer monochromatic
    a {
        color: inherit;
        &::selection {
            color: var(--background);
        }
    }
}

.logo {
    display: block;
    height: calc(var(--logo-unit-size) * 3);
    margin-left: calc(-1 * var(--logo-unit-size));
    transform: scaleX(-1);
    outline: none; // Disable focus outline in footer on click
    &:focus-visible {
        outline: 0.125rem solid var(--magenta);
    }
    path {
        mix-blend-mode: var(--composite-blend-mode);
        &:nth-child(3n + 1) {
            fill: var(--composite-color-1);
        }
        &:nth-child(3n + 2) {
            fill: var(--composite-color-2);
        }
        &:nth-child(3n + 3) {
            fill: var(--composite-color-3);
        }
    }
}

.links {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2.5rem 0 0;
    font-size: 2.25rem;
    > a {
        transition: transform var(--transition-duration-short) ease;
        display: flex;
        color: inherit;
    }
}

.light-dark-mode {
    background: url('https://fonts.gstatic.com/s/i/materialiconsoutlined/light_mode/v4/20px.svg');
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 1rem;
    cursor: help;
}

.composite {
    display: inline-block;
    position: relative;
    color: var(--foreground); // Fallback for browsers that don't support multiplying colors
    --layer-offset: 0.15em;
    a {
        text-decoration: none;
        &:hover {
            opacity: inherit;
        }
    }
    @supports (mix-blend-mode: multiply) {
        color: var(--composite-color-2);
        mix-blend-mode: var(--composite-blend-mode);
        &::before,
        &::after {
            content: attr(content);
            transition: transform var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: var(--composite-blend-mode);
            pointer-events: none;
        }
        &::before {
            transform: translate(calc(-1 * var(--layer-offset)), calc(-1 * var(--layer-offset)));
            color: var(--composite-color-1);
        }
        &::after {
            transform: translate(var(--layer-offset), var(--layer-offset));
            color: var(--composite-color-3);
        }
        &:hover {
            &::before,
            &::after {
                transform: none;
            }
        }
    }
}

.posts {
    margin: 5rem 0 0;
    padding: 0;
    li {
        display: block;
        margin-top: 2.5rem;
    }
    p {
        margin-top: 0;
    }
    .meta {
        margin-top: 0.25rem;
        font-size: var(--font-size-body-reduced);
    }
}

.meta {
    margin-top: 1rem;
    font-size: var(--font-size-body-reduced);
    font-weight: 600;
}

.tag {
    position: relative;
    color: var(--background);
    padding: 0.0625rem 0.25rem 0.125rem;
    border-radius: 0.25rem;
    font-style: italic;
    letter-spacing: 0.0125em;
    font-size: 1rem;
    margin-left: 0.25rem;
    cursor: help;
    z-index: 1;
    & > div {
        position: absolute;
        inset: 0;
        mix-blend-mode: normal;
        z-index: -1;
    }
    & > div::before,
    & > div::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 0.25rem;
        mix-blend-mode: var(--composite-blend-mode);
        transform: translate(0, 0);
        transition: transform var(--transition-duration-short) cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover {
        & > div::before {
            transform: translate(0.0625rem, 0.0625rem);
        }
        & > div::after {
            transform: translate(-0.0625rem, -0.0625rem);
        }
    }
}

.tag--a {
    & > div::before {
        background: var(--composite-color-2);
    }
    & > div::after {
        background: var(--composite-color-3);
    }
}

.tag--b {
    color: var(--foreground);
    & > div::before {
        background: var(--composite-color-2);
    }
    & > div::after {
        background: var(--composite-color-3);
    }
}

.tag--c {
    & > div::before {
        background: var(--composite-color-2);
    }
    & > div::after {
        background: var(--composite-color-1);
    }
}

.comic {
    font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', cursive;
    transform: translateX(96px) rotate(-6deg);
    font-weight: 700;
    font-size: 17px; // Slightly smaller than body text's 18px due to Comic Sans sizing
    width: fit-content;
}

article {
    margin-top: 4.25rem;
}

.post-content {
    margin-top: 1rem;
}

aside {
    position: relative;
    margin-top: 3rem;
    margin-bottom: calc(var(--shadow-distance) * 3);
    line-height: 1.4;
    padding: 0.75rem 1rem 1rem;
    background: var(--background);
    border: var(--border-thickness) solid var(--foreground);
    p {
        font-weight: 500;
    }
    b,
    strong {
        font-weight: 700; // Raised from 600 because base is a higher 500
    }
    .aside-shadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        mix-blend-mode: var(--composite-blend-mode);
        pointer-events: none;
        transition: transform var(--transition-duration-long) cubic-bezier(0.4, 0, 0.2, 1);

        &:nth-child(1) {
            background: var(--composite-color-3);
            transform: translate(calc(var(--shadow-distance)), calc(var(--shadow-distance)));
            z-index: -1;
        }

        &:nth-child(2) {
            background: var(--composite-color-2);
            transform: translate(calc(var(--shadow-distance) * 2), calc(var(--shadow-distance) * 2));
            z-index: -2;
        }

        &:nth-child(3) {
            background: var(--composite-color-1);
            transform: translate(calc(var(--shadow-distance) * 3), calc(var(--shadow-distance) * 3));
            z-index: -3;
        }
    }
}

.newsletter-input-group {
    input[type='email'] {
        flex: 1;
    }
    display: flex;
    gap: 0.5rem;
    margin: 0.75rem 0 0.875rem;
    @media screen and (max-width: 50rem) {
        flex-direction: column;
    }
}

.anchorjs-link {
    text-decoration: underline;
    margin-left: -1.333em !important;
}

.tippy-backdrop {
    background: var(--foreground);
}

.tippy-tooltip {
    color: var(--background);
    border: 1px solid var(--background);
    border-radius: 0;
    font-weight: 500;
    font-size: var(--font-size-tooltip);
    text-align: justify;
}

@media screen and (max-aspect-ratio: 3/2) and (max-width: 40rem) {
    // Mobile
    :root {
        --font-size-hero: 3.5rem;
        --font-size-title: 1.625rem;
        --font-size-heading: 1.375rem;
        --font-size-body: 1.0625rem;
        --font-size-body-reduced: 1rem;
        --logo-unit-size: 0.75rem;
    }
    body {
        padding: 1rem;
    }
    footer {
        --logo-unit-size: 0.3125rem;
    }
    .content-wrapper {
        margin-bottom: 3rem;
    }
    h1 {
        margin-top: 2rem;
    }
    header img {
        margin-top: 2rem;
    }
    h4 {
        margin: 1rem 0;
    }
    article {
        margin-top: 2.5rem;
    }
    blockquote {
        --ribbon-width: 0.25rem;
        padding: 0.5rem 0.75rem;
    }
    pre {
        padding: 0.75rem;
    }
    .links {
        margin: 1.25rem 0;
    }
    .posts {
        margin-top: 4rem;
    }
    .posts li {
        margin-top: 2rem;
    }
}

@media (prefers-color-scheme: dark) {
    // Dark mode
    :root {
        --background: #000;
        --foreground: #fff;
        --grayish: hsl(225deg 100% 95% / 8%);
        --gray: hsl(225deg 100% 92% / 12%);
        --composite-color-1: var(--blue);
        --composite-color-2: var(--green);
        --composite-color-3: var(--red);
        --composite-color-a: var(--yellow);
        --composite-color-b: var(--magenta);
        --composite-color-c: var(--cyan);
        --composite-blend-mode: screen;
        --selection-accent: var(--blue);
    }
    a::selection {
        color: var(--blue);
    }
    .light-dark-mode {
        background: url('https://fonts.gstatic.com/s/i/materialiconsoutlined/dark_mode/v4/20px.svg');
        filter: invert(1);
    }
}

@keyframes shimmer {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
