<!DOCTYPE html>
<html lang="en">
    <!-- It's dangerous to go alone! Take this. -->
    <!-- 🗡 -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% if page.title %}{{ page.title }} – by Michael Matloka{% else %}{{ site.title }}{% endif %}</title>
        {%- seo title=false -%}
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Poppins:700,700i,800,800i|Zilla+Slab:400,400i,500,500i,600,600i&subset=latin-ext&display=swap"
        />
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}"> {% if page.stylesheet %}
        <link rel="stylesheet" href="{{ page.stylesheet | relative_url }}" />
        {% endif %} {%- feed_meta -%}
        <script
            defer
            data-domain="matloka.com"
            data-api="https://e.matloka.com/lambda"
            src="https://e.matloka.com/sigma.js"
        ></script>
        <script>
            window.plausible =
                window.plausible ||
                function () {
                    ;(window.plausible.q = window.plausible.q || []).push(arguments)
                }
        </script>
    </head>
    <body onclick="">
        <div class="content-wrapper">{{ content }}</div>
        <footer>
            <span>© 2020-present Michael&nbsp;Matloka. <span class="no-wrap">{% github_edit_link "Open-source." %}</span></span>
            <div class="light-dark-mode" title="System-wide light/dark mode preference is in use" />
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
        <script>
            anchors.options = { placement: 'left', visible: 'hover', icon: '#' }
            anchors.add('article h2')
        </script>
    </body>
</html>
