<!DOCTYPE html>
<html lang="en">
    <!-- It's dangerous to go alone! Take this. -->
    <!-- 🗡 -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% if page.title %}{{ page.title }} – Michael Matloka{% else %}{{ site.title }}{% endif %}</title>
        {%- seo title=false -%}
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link
            rel="stylesheet"
            href="https://fonts.bunny.net/css?family=Poppins:700,700i,800,800i|Zilla+Slab:400,400i,500,500i,600,600i&subset=latin-ext&display=swap"
        />
        <link rel="stylesheet" href="{{ "/assets/main.css?20220706" | relative_url }}">
        {% if page.stylesheet %}
          <link rel="stylesheet" href="{{ page.stylesheet | relative_url }}" />
        {% endif %}
        {%- feed_meta -%}
        <script>
          !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
          posthog.init('phc_pOFJgPxvJv4R1tQQu1l4N4SlDPurLE0YXTRqjUVuMKY',{api_host:'https://e.matloka.com'})
        </script>
    </head>
    <body onclick="">
        <div class="content-wrapper">{{ content }}</div>
        <footer>
            <span
                >© 2020-present Michael&nbsp;Matloka.
                <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">Open source.</a>
              </span>
            <div class="light-dark-mode" title="System-wide light/dark mode preference is in use"></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8/dist/lazyload.min.js"></script>
        <script>
            anchors.options = { placement: 'left', visible: 'hover', icon: '#' }
            anchors.add('article h2')
            ll = new LazyLoad({
              callback_loaded(el) {
                el.addEventListener('click', () => {
                  el.paused ? el.play() : el.pause() // Click to play/pause, no controls needed
                })
              }
            })
        </script>
    </body>
</html>
