---
layout: subpage
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="meta">
        {{ content | number_of_words | divided_by:180.0 | ceil }} min read —
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: site.date_format }}
        </time>
    </div>
    <div class="post-content" itemprop="articleBody">{{ content }}</div>
    <h5>
        Enjoyed this post?
        <a
            href="https://twitter.com/intent/tweet?text=<INSERT THOUGHTS/HATE/LOVE>&url=matloka.com{{ page.url }}&via={{ site.twitter.username }}"
            >Share&nbsp;it&nbsp;with&nbsp;Twitter!</a
        ><br />Alternatively,
        <a href="https://en.wikipedia.org/wiki/Special:Random">read a&nbsp;random Wikipedia article</a> or
        <a href="https://www.reddit.com/r/aww/">look at cute animals on&nbsp;Reddit</a> – whatever floats
        your&nbsp;boat.
    </h5>
</article>
