---
layout: subpage
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="meta">
        #{{ page.ordinal }} —
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: site.date_format }}
        </time>
    </div>
    <div class="post-content" itemprop="articleBody">{{ content }}</div>
    <h5>
        Thanks for reading this post!<br />If you enjoyed it, <i>don't</i> consider subscribing to my newsletter because
        I don't have one. Instead <a href="https://www.eff.org/">donate to EFF</a>,
        <a href="https://en.wikipedia.org/wiki/Special:Random">read a random Wikipedia article</a>, or just have a great
        day!
    </h5>
</article>
