---
layout: base
---

<header>
    <a href="/" title="Michael Matloka">
        <!-- logo.svg inlined, as Safari doesn't seem to properly mix colors in <img> SVGs -->
        <svg class="logo" viewBox="0 0 63 27" fill="none" style="transform: scaleX(-1)" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 0L45 27H18V0Z" />
                <path d="M9 0L36 27H9V0Z" />
                <path d="M27 27L7.15256e-07 7.15256e-07L27 7.15256e-07L27 27Z" />
                <path d="M36 0L63 27H36V0Z" />
                <path d="M27 0L54 27H27V0Z" />
                <path d="M45 27L18 7.15256e-07L45 7.15256e-07V27Z" />
        </svg>
    </a>
</header>

{{ content }}
